@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    height: 4976px;
    margin: 0 auto;
    background-color: #02061A;
    /*background-color: #815f5f;*/
}

/*------------------------header------------------------------*/
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
    margin-top: 88px;
}

nav {
    display: flex;
    justify-content: flex-start;
}

.crypto {
    margin: 92px 554px 327px 195px;
}

.crypto a {
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.menu a {
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.poster p{
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width: 522px;
    height: 233px;
    margin-bottom: 31px;
}
.poster img{
    border-radius: 10px;
    position: absolute;
    left: 522px;
    bottom: 0;
    transform: skew(-5deg);
            }
.poster{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-left: 181px;

}
.sell-nfts{
    background: #23263C;
    border-radius: 50px;
    border: none;
    width: 256px;
    height: 95px;
    flex-shrink: 0;
    margin-right: 22px;
        }
.sell-nfts a{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    }
.buy-nfts{
    width: 254px;
    height: 95px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 3px solid #23263C;
    background: #02061A;
        }
.buy-nfts a{
    color: #FFF;
    text-align: center;
    font-family: Outfit,sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
header svg{
    flex-shrink: 0;
    position: absolute;
    left: 0;
    top: 0;
}
header{
    position: relative;
}
header>p{
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    margin: 216px 0 8px 174px;
}
.stock{
    width: 1065px;
    height: 125px;
    flex-shrink: 0;
    border: 1px solid #5BD2BD;
    background: #23263C;
    margin-left: 189px;
    }
.stock ul{
    display: flex;
    justify-content: center;
    gap: 138px;
    margin-top: 46px;
}
.stock a{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    opacity: 0.5;
}


