@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------HEADER-----------------------*/
header{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    height: 10vh;
    background-color: #c6f0f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav{
    width: 60%;
}
nav ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
header nav ul a{
    text-decoration: none;
    color: #0e9bb4;
    transition: 0.5s;
}
header nav ul a:hover{
    text-decoration: none;
    color: #20525b;
    transition: 1s;
}
header div{
    text-align: center;
}

/*---------------SECTION-----------------------*/
section{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    height: 90vh;
    background-image: url("pexels-dreamypixel-547114.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.main-text{
    margin-top: 15vh;
}
section p{
    font-size: 20px;
}
section h1{
    font-size: 100px;
    letter-spacing: 30px;
    margin: 20px;
}
section button{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    background-color: #000000;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}
section button:hover{
    transform: scale(1.1);
    transition: 1s;
}