
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------------------------header-----------------------------------*/
header {
    width: 1280px;
    height: 908px;
    flex-shrink: 0;
    background-image: url("img/start-screen-gradient-background.png");
}
nav{
    display: flex;
    }
nav h1{
    color: #F1CDB3;
    font-family: Georgia, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 1.92px;
    margin-bottom: 10px;
}
nav>div>p{
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
}
nav>div>ul>li>a{
    color: #FAFAFA;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
    list-style-type: none;
}
nav>div>ul{
    list-style-type: none;
    display: flex;
}
.cozy-house{
    margin: 60px 573px 0 40px;
}
.menu>ul{
    display: flex;
    gap: 35px;
    margin-top: 76px;
}
.start-screen-content h2{
    color: #FFF;
    font-family: Georgia, sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    width: 310px;
    margin-top: 163px;
    }
.start-screen-content p{
    color: #CDCDCD;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 460px;
}
.start-screen-content button{
    height: 52px;
    width: 207px;
    border-radius: 100px;
    background: #F1CDB3;
    color: #292929;
    font-family: Georgia, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.02px;
}
.start-screen-content{
    display: flex;
    justify-content: space-between;
    margin: 60px 40px 0 40px;
}
.start-screen-content div{
    display: flex;
       flex-direction: column;
    gap: 42px;
}

/*----------------------article-------------------------------*/
article{
    height: 588px;
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
article h3{
    color: #545454;
    font-family: Georgia, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2.1px;
    width: 370px;
}
article p{
    color: #4C4C4C;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 430px;
}
article div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

/*---------------------details-------------------------------*/
details{
    height: 877px;
    width: 1280px;
}