@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@media screen and (min-width: 0) and  (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        background-color: rgba(145, 232, 152, 0.44);
    }

    body {
        width: 343px;
        height: 583px;
        margin: 32px 16px;
        display: block;
    }

    section {
        width: 343px;
        height: 366px;
        margin: 0;
    }

    nav button {
        width: 143px;
        height: 36px;
        border-radius: 8px;
        background: #FF9500;
        border: none;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        color: #FFFFFF;
        margin-right: 24px;
    }

    nav a {
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-top: 0;
    }

    h1 {
        color: #000;
        font-family: "Inter", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin: 16px 0;
        width: 300px;
    }

    li {
        color: #3C3C43;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 33.6px */
    }

    ul {
        padding-inline-start: 40px;
        margin-top: 0;
    }

    section > button {
        width: 132px;
        height: 56px;
        border-radius: 8px;
        background: #6F1DF4;
        border: none;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        color: #F3F5F6;
        margin-top: 16px;
    }

    iframe {
        width: 343px;
        height: 193px;
        margin-top: 24px;
    }
}