* {
    margin: 0;
    border-radius: 20px;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
                'header header header header'
                'b b b f'
                'c d e f';
    gap: 20px;
}

header {
    grid-area: header;
    border: 1px solid;
}

.b {
    grid-area: b;
    border: 1px solid;
}

.c {
    grid-area: c;
    border: 1px solid;
}

.d {
    grid-area: d;
    border: 1px solid;
}

.e {
    grid-area: e;
    border: 1px solid;
}

.f {
    grid-area: f;
    border: 1px solid;
}

