* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 20vh;
    background-color: #f68e8e;
}

.b {
    width: 70vw;
    height: 80vh;
    background-color: #c5e173;
}

.c {
    width: 30vw;
    height: 80vh;
    background-color: #5e5be0;
}

main {
    display: flex;
}