@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

header ul a {
    font-size: 18px;
    color: black;
    text-decoration-line: none;
    font-family: Roboto, sans-serif;
}

img {
    width: 581px;
    height: 652px;
}

main {
    height: 90vh;
    background-color: #FBF6F3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

main ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin-bottom: 48px;
}

main ul a {
    color: black;
    text-decoration-line: none;
    font-size: 13px;
    font-family: Roboto, sans-serif;

}

main h2 {
    font-size: 48px;
    font-family: Roboto, sans-serif;
}

main h3 {
    font-size: 36px;
    color: #AD0306;
    margin: 37px;
    font-family: Roboto, sans-serif;
}

main p {
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

.grey {
    color: #A19FA0;
}

.red {
    color: #A90102;
}

/*_____________________Page 2_____________________*/

section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
}

.products {
    /*height: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
    margin-bottom: 308px;
}

section h1 {
    color: #142823;
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin: 212px 484px 57px 484px;
    text-align: center;
}

.neon, .zegama, .vaporfly {
    height: 331px;
    width: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: Inter, sans-serif;
    border-radius: 32px;
    background-color: #FFF;
    /* 200 */
    box-shadow: 0 4px 20px 0 rgba(139, 139, 139, 0.10);
    position: relative;
}

a {
    text-decoration-line: none;
    font-family: Inter, sans-serif;
    font-size: 18px;
    color: #282828;
    font-weight: 700;
}

.neon, .zegama, .vaporfly > p {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.rated {
    position: absolute;
    top: -20px;
}

